{{ form_start(form, {'method': http_method, attr : {novalidate: 'novalidate'}}) }}

<div>
	{{ form_label(form.firstname, 'Prénom :') }}
	{{ form_widget(form.firstname) }}
	{{ form_help(form.firstname) }}
	{% if not form.vars.valid %}
		<div class="errors">
			{{ form_errors(form.firstname) }}
		{% endif %}
	</div>

</div>
<div>
	{{ form_label(form.lastname, 'Nom :') }}
	{{ form_widget(form.lastname) }}
	{{ form_help(form.lastname) }}
	{% if not form.vars.valid %}
		<div class="errors">
			{{ form_errors(form.lastname) }}
		{% endif %}
	</div>
</div>


{{ form_row(form.save, { 'label': button_label }) }}

{{ form_end(form) }}
